[2011-07-05 18:36] Eugeny opened #1 "Non-default screen size."
If the terminal screen has other size than 80*24, child apps obviously won't know about that. When app tries to write outside the actual screen size, characters will appear in random places of Screen buffer instead.
Please add a note (that actual screen size should be put into LINES/COLUMNS envvars or console ioctls should be implemented) into the tutorials.

[2011-07-06 10:10] #1 closed, assigned to nobody

[2011-07-06 13:18] superbobry opened #2 "Implement soft reset"
Only resets internals, i.e. modes, G0-1 states, SGR not the screen. See http://vt100.net/docs/vt220-rm/table4-10.html.

[2011-07-06 13:20] superbobry opened #3 "Fix autowrap handling"
See amarao/vt102@754ede396d59f021bb04 for an incomplete implementation.

[2011-07-06 13:20] superbobry opened #4 "Control characters inside ESC sequences"
According to `linux/drivers/tty/vt.c`: «Control characters can be used in the _middle_of an escape sequence.» -- since we claim to support `TERM=linux` we should allow that as well.

**Current status**: works for CSI sequences but still doesn't for `ESC # ....`

[2012-05-20 03:20] buganini opened #9 "cursor behavior for full/ambiguous width characters"
Currently I'm using following hack in my program:

[code]

there should be a similar but cleaner way to determine character width, and especially,  there is a set of "east-asian ambiguous width" characters, its width depends on locale, I treat it as fullwidth (*2) in my case.

http://www.unicode.org/Public/UNIDATA/EastAsianWidth.txt
https://github.com/buganini/bsdconv/blob/master/codecs/inter/WIDT

[2012-11-09 08:57] sanchopanca opened #10 "Broken Help"
Я установил вашу билиотеку через easy_install.
Вот что случается при попытке получить help:

[code]

Это баг или просто хелпа нет?

[2012-11-10 05:41] #10 closed, assigned to superbobry

[2013-02-08 23:46] stevecohen42 opened #11 "Handling of LNM Mode"
I just got bitten by this and spent a lot of time figuring out that the ncurses on my Linux box assumes LNM is reset (cleared) and that was causing data corruption for a fairly complex display.  The default state for LNM (how to handle LF) is reset, i.e., LF does only a line feed and not also a CR.

The DEC manual for the VT100 is, sadly, silent on this subject.  The VT220 manual states that for a

[2013-03-28 13:08] #4 closed, assigned to superbobry

[2013-03-28 13:08] #3 closed, assigned to superbobry

[2013-03-28 13:08] #2 closed, assigned to superbobry

[2013-03-28 18:13] #11 closed, assigned to superbobry

[2013-07-30 21:21] thomasballinger opened #13 "Implement query cursor position"
I'm looking at using pyte to test a terminal wrapper library - is it within scope of this project to allow testing of query cursor position?

[code]

I was imagining a `Screen` might have a stdout stream to write the cursor position (like `"\x1b[12;2R"`) to if sent this sequence.

[2014-01-05 21:23] jonathanslenders opened #14 "Thank you."
Not an issue, but a thank you. (can't find a contact button ;) )

Pyte is wonderful! I started this weekend a tmux clone in pure Python. Pyte actually already did half the amount of my work.

I have a working prototype here which opens a bash shell and vim editor next to each other: https://github.com/jonathanslenders/python-vterm/blob/master/pymux.py

So, maybe some pull requests from my side wil

[2014-01-06 19:09] jonathanslenders opened #15 "htop output is not rendered correctly."
First I run the following command, and press Ctrl-C after a few seconds to capture the output of `htop`.

[code]

Then I do:

[code]

The output is sometimes very weird, but mostly I get an empty screen...

Any ideas?

[2014-01-08 21:28] jonathanslenders opened #19 "Implement alternate screen buffer"
Rather a feature request. It would be really nice to have alternate screen buffers working.

http://stackoverflow.com/questions/15044274/how-does-vi-restore-terminal-content-after-quitting-it

If you could give me some pointers, I'm also willing to give this a try.

[2014-01-09 01:45] #14 closed, assigned to nobody

[2014-01-09 22:27] jonathanslenders opened #20 "Weird wrapping"
If I write 90 characters to a 80 columns width screen:

[code]

The wrapping becomes really weird. I don't get it from the code...

[code]

[2014-01-11 03:23] #15 closed, assigned to nobody

[2014-01-11 03:30] #20 closed, assigned to nobody

[2014-01-11 03:30] superbobry opened #22 "Do not inherit from list"
It's ugly and doesn't make much sense, because `Screen` is not a dynamic array anyway.

[2014-01-11 06:33] #22 closed, assigned to nobody

[2014-01-13 08:33] #19 closed, assigned to nobody

[2014-01-13 08:49] #13 closed, assigned to nobody

[2014-01-19 13:02] jonathanslenders opened #23 "Put buffer manipulations in screens.py in utility functions."
Hi,

For my project, I need to create a custom `Screen` class that doesn't use the current "buffer" as a storage. More specific, I need a data structure that is able to do line reflow and such, and per-character diffs (instead of per lines).

The problem is that I still want to inherit from `pyte.Screen` because a lot of functionality could be reused. But for some functions, I have to copy paste t

[2014-03-26 18:41] bjramsey opened #24 "Incorrect Mapping for Char class to _Char NamedTuple"
I have run into a problem with the mapping of the Char class to the _Char named tuple.  Reverse and Strike-through end up reversed.

Here is a diff with the patch and tests:

[code]

[2014-03-26 21:17] #24 closed, assigned to nobody

[2014-04-22 09:04] joushou opened #25 "Handling of backspace/delete"
After some testing, I have noticed that handling of backspace/delete in Stream does not seem to be perfect.

My terminal emulators generally support these 4 options for backspace and delete:
- CTRL-H - \x08
- ASCII DEL - \x7f
- ESCAPE - \x1b[3~
- TTY ERASE - becomes ASCII DEL

Many terminals only have settings to go from ASCII DEL to CTRL-H for compatibility reasons. This option makes Emacs sad, b

[2014-04-22 11:18] kennylevinsen opened #26 "Handling of escape codes ending in tilde"
Escape codes ending in tilde (delete, pageup/down, home, end, F-keys, ...) are incorrectly handled.

They end up dying in the final lines of _argument:

[code]

where char is '~', which make no sense as a csi sequence. While I am not the strongest in the ancient arts of VT100 escape sequences, I believe that tilde-postfixed sequences should be interpretted as an argument-free CSI sequence.

[code]

[2014-04-22 11:29] kennylevinsen opened #27 "Handling of F1-F4"
For some odd archaic reason, F1-F4 use a different escape code pattern than the rest of the F-keys:
- F2 - \x1bOQ
- F3 - \x1bOR
- F4 - \x1bOS

I am, for annoying reasons involving a very unhelpful "help" menu, not able to test F1 in my terminal emulator on this machine. I also recall that the builtin Linux console also give different output (I recall something along the lines of A-D).

[2014-04-22 20:14] #26 closed, assigned to nobody

[2014-08-22 22:06] thomasballinger opened #28 "Documented example does not work"
Working through the tutorial at http://pyte.readthedocs.org/en/latest/tutorial.html doesn't work for a fresh installation of pyte 0.4.8:

[code]

[2014-08-22 22:08] #28 closed, assigned to nobody

[2014-08-22 23:06] thomasballinger opened #30 "DebugStream that doesn't take bytes"
It would be nice to have a DebugStream that didn't take bytes - is there interest in this?

[2014-08-23 08:46] #27 closed, assigned to nobody

[2014-09-20 23:30] #30 closed, assigned to nobody

[2014-09-20 23:31] thomasballinger opened #31 "History preservation on resize"
I'm subclassing HistoryScreen to have history added when the terminal gets smaller - is this something that might belong in pyte?

[2014-10-07 21:23] uSpike opened #32 "Handle exceptions in stream handlers"
In streams.py, dispatch()

[code]

If the handler function raises an exception, then the other handlers will not run.  It would be nice if the handler code could be wrapped in a `try: handler() except: pass` block.

[2014-11-19 10:43] erikbgithub opened #33 "Can Pyte be used as dropin to communicate with another tool that sometimes sends terminal comamnd characters?"
Hi,

I've got the following situation and after reading the docs I'm not sure if or if not pyte could be of help. I'd appreciate to get your opinion about it.

The situation is that I use [pexpect](https://github.com/pexpect/pexpect) to communicate via ssh remotely to another computer. To implement the ssh connection pexpect interally uses a pty for the interaction. That design decision leads to t

[2014-12-03 20:39] #32 closed, assigned to nobody

[2014-12-30 10:17] #33 closed, assigned to nobody

[2014-12-30 10:18] #23 closed, assigned to nobody

[2015-07-23 11:23] dcoshea opened #36 "DiffScreen.draw() marks wrong line as dirty when wrapping occurs"
The current implementation of `DiffScreen.draw()` in `pyte/screens.py` as at 12276a8 is that it first marks the row containing the cursor as dirty and then calls `Screen.draw()`.

However, the latter method will, if wrapping is enabled (`if mo.DECAWM in self.mode`), move to the next line before actually writing the character to the virtual terminal.  This means that the wrong line might have been

[2015-07-23 11:49] superbobry commented on #36
Thank you for reporting this. It seems that with wrapping enable the dirty line would indeed by `y + 1` and not `y`. Do you mind submitting a PR with a unit-test for this case?

[2015-07-23 12:00] dcoshea commented on #36
Sure, thanks!

[2015-07-24 06:32] dcoshea commented on #36
I submitted pull request #38, hope it's ok :)

[2015-07-24 12:13] #36 closed

[2015-08-04 04:14] dcoshea opened #39 "Please create 0.4.10 release"
I hope this isn't too much to ask, but would you mind creating a 0.4.10 release?  I'd like to deploy some code and be able to use an official release that includes my pull requests.  It's no big deal if I have to do a release from my fork but it's just not as nice.  Thanks in advance!

[2015-08-04 18:19] #39 closed

[2015-08-05 00:46] dcoshea commented on #39
Thanks very much!

[2016-01-03 13:20] stonebig opened #40 "would it be possible to publish also a wheel on pip ?"
[code]

[2016-01-03 14:07] superbobry commented on #40
Sure, done.

[2016-01-03 14:07] #40 closed

[2016-01-03 19:13] jonathanslenders opened #41 "(FYI) pymux"
Hi all,

Thanks a lot for making Pyte! It allowed me to create pymux: https://github.com/jonathanslenders/pymux

There are a few changes I had to do to the "stream" class. For some of them, I think it make sense to merge them back into Pyte. Please, have a look to this file:
https://github.com/jonathanslenders/pymux/blob/master/pymux/stream.py
I needed support for CPR, device attributes, and termi

[2016-01-04 10:58] superbobry commented on #41
Hi Jonathan, `pymux` looks great!

Cool! We've thought about adding these at some point, but they weren't needed for our web-terminal use case.

Do you mean they turned out to be too expensive? My guess is that if you're after speed the loop and branching conditions in `Stream` can be optimized by Cython.

Yes, very interested.

[2016-01-05 09:20] jonathanslenders commented on #41
Hi @superbobry,

Yesterday evening, I rewrote half of my ``stream`` class and ended up with this: https://github.com/jonathanslenders/pymux/blob/master/pymux/stream.py#L56

The result is about 10x faster. (Pymux as a whole became at least 3x faster because of this.)

The problem with the original code is that many things happen for every single character that we receive from the process. Normally,

[2016-01-05 22:06] superbobry commented on #41
Hi Jonathan, thank you, I'll see if I can merge some of your changes into `pyte`.

I wonder how did you benchmark it? Do you have sample scripts somewhere?

[2016-01-05 22:17] jonathanslenders commented on #41
The duration of executing ``time find /etc`` in pymux became about 3x faster after my patch. Further, I use runsnakerun to profile the code and find the bottlenecks, and measure the time spent in all parts of the code.

(Feel free to not merge it, if you don't like it. It's not the most beautiful piece of code, but given that it's a small piece and a painful bottleneck, I went as far as I could, o

[2016-01-09 23:18] #9 closed

[2016-01-09 23:21] superbobry commented on #9
I've finally managed to add this to `pyte`. A big thanks to everyone involved.

[2016-01-09 23:25] superbobry commented on #41
Thank you very much, I've incorporated both the speed improvements in `Stream` and CSR/CPR support. Please do let me know if you spot more bottlenecks.

[2016-01-09 23:25] #41 closed

[2016-01-11 21:55] tony opened #42 "License"
Thank you for this library! I'm using with https://github.com/wraithan/pytmux.

I assume it's your intention by making this LGPL to simply give pyte-related contributions back to the project. Most python projects are permissively licensed (ISC, MIT, BSD, Apache) since it's not a practice distribute binary blobs. The language used in LGPL however doesn't protect edge cases that exist in interpreted

[2016-01-11 21:59] superbobry commented on #42
Hi Tony. I'm all for BSD-style permissive licenses, but in the case of `pyte` the choice of the license was not mine, but my employers.

I'm not sure if there's a chance of relicense, @ad, what do you say?

[2016-03-11 12:03] wcc526 opened #45 "pyte is not support vim file?"
pyte is not support vim file?

When I run vi XXX.file ,pyte does not work.

[2016-03-11 12:15] superbobry commented on #45
Could you please attach a fragment of your code so I can reproduce the issue?

[2016-03-11 12:31] wcc526 commented on #45
The reference in here.
https://github.com/atagar/ReviewBoard/blob/71de26348ad16089e5fc4e5cc3fa9b445065fd5f/reviewboard/cmdline/rbssh.py

My basic code is

     def __init__(self):
            stream = pyte.DebugStream()
            screen = pyte.Screen(80, 24)
            stream.attach(screen)

    def process_channel(self, channel):
        if channel.closed:
            return False

        if

[2016-03-11 13:41] superbobry commented on #45
Do you mean that running `vi 1.txt` produces an empty screen? Can you attach `LOG.info` output?

[2016-03-11 14:05] wcc526 commented on #45
https://github.com/wcc526/bastion-ssh

The complete code is in here.

You can run BastionSSH.py to connect remote linux server.It will use your local private key.and the command will be log.

def command_line_runner():
    context = Context()
    context.hostname = "10.121.77.16"
    context.username = "vagrant"
    context.user = getpass.getuser()
    context.port = 22
    audit_cmd = AuditCMD(co

[2016-03-11 14:58] superbobry commented on #45
Your code seems to hang if I replace `DebugStream` with `Stream`.

[2016-03-12 06:56] wcc526 commented on #45
def audit_channel(self, x):
    	self.stream.feed(x)
        for line in self.screen.display:
             LOG.info(line)

     def process_stdin(self, channel):
        """Read data from stdin and send it over the channel."""
        try:
            buf = os.read(self.input.fileno(), 1)
        except OSError:
            buf = None
        if not buf:
            return False
        channel.se

[2016-03-12 10:09] wcc526 opened #46 "The example/debug.py problem."
When I run the example/debug.py,I got this traceback.

Traceback (most recent call last):
  File "debug.py", line 27, in <module>
    stream.feed(blob)
  File "/Users/wcc526/.virtualenvs/fortress/lib/python2.7/site-packages/pyte/streams.py", line 378, in feed
    return super(ByteStream, self).feed(chars)
  File "/Users/wcc526/.virtualenvs/fortress/lib/python2.7/site-packages/pyte/streams.py", lin

[2016-03-12 22:47] #46 closed

[2016-03-12 22:48] superbobry commented on #46
Thanks, as they say, "if it's untested, it's broken" :)

[2016-03-14 13:00] wcc526 commented on #45
The problem has been solved in this commit.

The problem has been solved in your latest commit.

https://github.com/selectel/pyte/commit/4b498c09b3df14db437ea58121b0714c0930b910.

Please close this issue.

[2016-03-14 13:01] #45 closed

[2016-05-22 23:06] ysangkok opened #48 "Crashes when parsing data which is not valid UTF-8"
[code]

This is a simple but contrived example. But you get the same problem with e.g. Shift-JIS content:

    PYTHONPATH=.. python3 capture.py curl \
    http://www.rikai.com/library/kanjitables/kanji_codes.sjis.shtml -H 'User-Agent: Mozilla/9'

[2016-05-23 08:01] ysangkok commented on #48
Also, it could be valid UTF-8 but if a multi-byte character is on the border of the 1024-byte blocks, it wouldn't decode correctly.

[2016-05-23 18:24] jquast commented on #48
This issue sounds familiar to something i've worked with before.

The solution is to use python's https://docs.python.org/2.7/library/codecs.html#codecs.getincrementalencoder rather than attempt to decode each individual byte block received, the byte block should be "feed" into an incremental decoder instance, and "final=True" should only be used on the final byte (such as closed/EOF), allowing fo

[2016-05-23 21:37] superbobry commented on #48
Thanks @jquast, we do something similar to what you've described in `ByteStream`, albeit we never pass `finall=True` because of the poor API choices we did in the past :)

It looks like that incremental encoder initialized with `errors="replace"` is as bulletproof as it gets. @ysangkok, what do you think?

[2016-05-23 22:01] ysangkok commented on #48
Yeah, sounds great :)

Another option would be to not decode, and dump on on stdout straight using `std.stdout.buffer.write`.

[2016-05-25 18:27] superbobry commented on #48
Cool, I'll push a fix.

AFAIK this won't work on Python2.

[2016-05-25 18:27] #48 closed

[2016-05-25 18:30] superbobry opened #49 "Revise ByteStream API"
The current implementation of `ByteStream` is broken.

Firstly, it maintains a list of decoders each with its own state. I doubt that intermixed outputs (each with a different encoding) is a realistic scenario. Secondly, it never finalizes the decoders (as discussed in #48).

[2016-05-26 23:41] jquast commented on #48
Verified, 953c098d14b5834f5b6810c80578a26dffc4e600 is just as i described, good!

[2016-06-10 05:32] lengstrom opened #50 "Foreground/background color logic?"
Hi,

I'm having some troubles getting the colors in my pyte screen to match those in my true tty.

For example, running vim in my tty (sorry if I'm abusing vocabulary), we have:
<img width="1063" alt="screen shot 2016-06-09 at 10 22 34 pm" src="https://cloud.githubusercontent.com/assets/760865/15954927/72a6972a-2e91-11e6-8c58-c2ee9be57e9b.png">

Then in pyte, I get this (visualizing using the urwi

[2016-06-10 07:49] superbobry commented on #50
The exact meaning of `'default'` background is unspecified by ECMA-48 (see 49 [here](https://en.wikipedia.org/wiki/ANSI_escape_code#graphics)). So different terminals might implement it differently.

I think iTerm simply substitutes `'default'` for the background colour from its color theme, while your implementation treats it as white.

[2016-06-10 17:07] lengstrom commented on #50
Thanks for the response, that makes sense! Do you have any recommendations for handling this in practice?

[2016-06-11 09:50] superbobry commented on #50
I've never written a themed terminal emulator, so unfortunately I can't give any practical advice here. Maybe @jonathanslenders has something to say?

[2016-06-11 10:08] jonathanslenders commented on #50
Hi @lengstrom,
I'm not sure what the issue is in this particular case.

What is your $TERM environment variable? Does Vim think it can use 256 colors? There are several independent ways of specifying the color. (ANSI, 256 or True color). Maybe Vi is mixing them in the current set-up. Not sure whether Pyte parses 256 colors as well, in pymux, I have patched some parts of the functionality in order

[2016-06-11 10:23] superbobry commented on #50
At the moment it doesn't, but I'd welcome a patch :)

[2016-06-11 18:09] lengstrom commented on #50
@jonathanslenders `$TERM == "xterm"` in my pty (and in my tty). I'm actually using the `BetterStream` and `BetterScreen` classes in my project already :) - I've looked at pymux (along with prompt-toolkit and wuub/SublimePTY) a lot for my work. What are the methods of specifying the color to 256?

Urwid does support ANSI and 256.

[2016-06-15 18:14] superbobry commented on #50
Possibly a silly question, but do you `export TERM=xterm-256color` or do you just set it as `TERM=...`?

[2016-07-01 17:45] superbobry commented on #49
Maybe we should event revert the `Stream` to accept bytes and delegate decoding to `Screen`?

[2016-07-03 17:40] #49 closed

[2016-07-03 22:37] superbobry commented on #50
I think the issue might be caused by the fact that `pyte` does not handle colour palettes. Here's an excerpt from [`man console_codes`](http://man7.org/linux/man-pages/man4/console_codes.4.html):

[code]

[2016-07-08 14:22] BrendanSimon opened #51 "Argument error running examples"
How do you run the examples?  I keep getting an argument error.

[code]

[code]

[2016-07-08 14:38] superbobry commented on #51
Hi Brendan, you might be running examples from `master` using a stable version of `pyte`. Try checking out the latest stable release

[code]

or [download them](https://github.com/selectel/pyte/tree/0.5.2/examples) via GitHub.

[2016-07-08 15:04] BrendanSimon commented on #51
I installed `pyte` (v0.5.2) via `pip`

[code]
Do you mean install via `git checkout master` ???

[2016-07-08 15:07] BrendanSimon commented on #51
Maybe I misunderstood.  Do you mean check 0.5.2 and use the examples in that.  I guess so :)

[2016-07-08 15:24] superbobry commented on #51
Yeah, apologies if I was a bit unclear.

The examples are updated along with `pyte`, so if you're using 0.5.2 you need to download or checkout the 0.5.2 version of examples.

[2016-07-22 14:36] paramoecium opened #52 "display Chinese characters"
When I feed strings with Chinese characters to the stream as the following:

[code]

It shows this on my terminal:

![image](https://cloud.githubusercontent.com/assets/7474793/17060804/47442da6-505e-11e6-9122-31684358acbb.png)

How can I eliminate the spaces between 你 好 嗎?

[2016-07-24 21:22] hei5enberg opened #53 "Update the pyte distributed through pip"
The pip version of pyte giving error.(0.5.2)
stream = pyte.Stream(screen)
TypeError: __init__() takes exactly 1 argument (2 given)

The repository version is working fine(0.6.0). Please update the pyte in pip.

[2016-07-26 11:43] superbobry commented on #53
My guess is that you're running examples from the `master` version using `pyte` 0.5.2. See #51.

[2016-07-26 11:43] superbobry commented on #52
Which version of `pyte` are you using?

[2016-07-26 18:43] hei5enberg commented on #53
yeah, that's the case.
Anyway everything working fine. But if you could update the pip version, that would be great!!

[2016-07-26 20:17] superbobry commented on #53
Yeah, I'll do that as soon as I get a free weekend to finish backporting stuff from `pymux`.

Closing this issue.

[2016-07-26 20:17] #53 closed

[2016-07-27 23:27] shaform commented on #52
I get the same spaces with pyte 0.5.2 on python2.7.

[2016-08-01 15:59] superbobry commented on #52
Very interesting. I'll look into this, thank you!

[2016-08-01 18:51] #52 closed

[2016-08-01 18:52] superbobry commented on #52
I've managed to track down the issue: `Screen.display` ignored character width.

Please try the `master` version and let me know if it worked for you (it should :).

[2016-08-01 18:52] #51 closed

[2016-08-26 11:33] superbobry opened #56 "Better tests"
See [this](http://systemundertest.org/xterm/) post for inspiration.

[2016-09-19 16:42] superbobry opened #57 "Non-standard SGR codes"
[This](http://stackoverflow.com/questions/287871/print-in-terminal-with-colors-using-python) rather popular SO article suggests using SGR codes which are non-standard (see table "SGR parameters" [here](https://en.wikipedia.org/wiki/ANSI_escape_code)). I think we should support them in `pyte` as well.

[2016-09-19 22:01] #57 closed

[2016-10-05 08:51] yonghuming opened #58 "TypeError: __init__() takes exactly 1 argument (2 given)"
Traceback (most recent call last):
  File "D:\coding\pty\pty.py", line 19, in <module>
    stream = pyte.Stream(screen)
TypeError: __init__() takes exactly 1 argument (2 given)
[Finished in 0.1s]

[2016-10-05 09:05] demiurg906 commented on #58
try that:
stream = pyte.Stream()
stream.attach(screen)

[2016-10-05 10:59] superbobry commented on #58
@demiurg906 thanks!

@yonghuming we've [changed](/selectel/pyte/blob/master/CHANGES) the API quite a bit in the `master` version. If you're using the latest stable version, please take a look at 0.5.2 [examples](https://github.com/selectel/pyte/tree/0.5.2/examples) and [docs](http://pyte.readthedocs.io/en/0.5.2/).

[2016-10-20 13:25] #58 closed

[2016-10-27 08:51] ibuler opened #59 "Have bug with chinese"
When output mix up with chinese and english will trigger a bug .

[code]

![image](https://cloud.githubusercontent.com/assets/17382885/19760730/9178582c-9c65-11e6-8403-ff4d5baf7a2c.png)

pyte version 0.5.2

[2016-10-27 08:53] superbobry commented on #59
This is a nasty one to track down. Could you attach the file reproducing the bug? I.e. I'd like to do `stream.feed(open(...).read())` and see the same error message.

[2016-10-27 09:05] ibuler commented on #59
`>>> s = '\r\n1.log                             \x1b[0m\x1b[01;31mincubator-guacamole-client-0.9.9.tar.gz\x1b[0m  tasks.pyc\r\n44.txt                            \x1b[01;34mincubator-guacamole-server-0.9.9\x1b[0m         \x1b[01;34mtermrecord\x1b[0m\r\n\x1b[01;34ma\x1b[0m                                 \x1b[01;31mincubator-guacamole-server-0.9.9.tar.gz\x1b[0m  \x1b[01;34mTermRecord\x1b[0m\r\nab.sh

[2016-10-27 09:23] ibuler commented on #59
May be I know the reason, Screen object size is not equal my terminal size.

I set equal to my terminal size, It's Ok

[2016-10-27 09:43] superbobry commented on #59
Ah, right. That could be the cause.

Make sure the `COLUMNS` and `LINES` env. variables match the `Screen` dimensions.

[2016-10-27 10:31] ibuler commented on #59
Ok, Thank you, It's a good project.

https://github.com/jumpserver/jumpserver
This is my project  that use pyte to parser command user input.

Because in terminal, user input is not the full command, the server return is.
But server return will have some control char.

I want to get ifconfig. So I use pyte do it.

https://github.com/jumpserver/jumpserver/blob/master/connect.py#L138-L163

Thank you

[2016-10-27 10:49] superbobry commented on #59
Glad `pyte` is useful!

By the way, you can get rendered screen in `Screen.display` instead of manually iterating over `Screen.buffer`.

[2016-10-27 10:49] #59 closed

[2016-11-08 18:39] crdoconnor opened #60 "pymux BetterScreen / BetterStream"
Hi,

I was wondering what you thought of pymux's BetterStream and BetterScreen?

https://github.com/jonathanslenders/pymux/blob/master/pymux/screen.py

Changes compared to the original `Screen` class:
    - We store the layout in a prompt_toolkit.layout.screen.Screen instance.
      This allows fast rendering in a prompt_toolkit user control.
    - 256 colour and true color support.
    - CPR supp

[2016-11-09 21:19] superbobry commented on #60
Hi, thanks for asking.

@jonathanslenders did great work on performance in `pymux` and there is work ongoing on backporting the improvements into `pyte`. Here's what's already in `master`:

* all of `BetterStream` in terms of functionality,
* 256/16bit colour support,
* CPR support

The remaining issue is replacing a `[[]]` with a `defaultdict` for `Screen.buffer`. It is somewhat complicated due t

[2016-11-18 19:08] tspivey opened #61 "DECSTBM with no parameters fails to reset margins"
When sending DECSTBM with no parameters, the margins aren't reset.
[code]

According to this [VT102 user guide](http://vt100.net/docs/vt102-ug/chapter5.html), in the Scrolling Region section:

[2016-11-18 19:31] superbobry commented on #61
Hi Tyler,

thanks for reporting this inconsistency. Do you know a terminal app which relies on that behaviour?

[2016-11-18 20:26] tspivey commented on #61
When examining the output of vim running under mosh, I get that.

[2016-11-18 20:49] #61 closed

[2016-11-21 21:33] tspivey opened #62 "UTF-8 character incorrectly interpreted as OSC"
When trying to upgrade my project to use the current git master, I needed to send data as bytes.
This works, however I can't decode UTF-8 data. For example, the following test script will fail:
[code]
The first character of the screen should be '”', but is blank.

It looks like pyte is interpreting the 9d as OSC, causing problems from there.
According to Wikipedia articles on [ANSI escape codes][1

[2016-11-21 22:01] superbobry commented on #62
Hi Tyler, thanks for reporting this inconsistency. I've briefly looked through the Wikipedia pages and haven't found any mentions of the behaviour you're describing. Could you please quote a relevant passage?

[2016-11-21 22:05] tspivey commented on #62
From ANSI escape code:

And from C0 and C1 control codes:

[2017-02-15 19:41] tspivey opened #63 "Behaviour of linefeed above scrolling region"
Assume the scrolling region is set from line 3 to 27 (VT-100 coordinates).
If I send CSI H to bring the cursor to 1, 1, then send a linefeed, I think the cursor should be at 2, 1.
However, it moves to 3, 1.

If I run the following in the shell, with screen:
[code]
Then press CTRL-A i to check the cursor position, it shows column 2, line 1 as I expected.

However, the same sequence with pyte:
[code

[2017-02-20 22:31] superbobry commented on #63
That's a tricky one!

I've failed to find the expected behaviour in VT100, VT220 and VT520 manuals, however, Terminal.app, iTerm3, tmux and Linux terminal all consistently ignore the top margin when doing a linefeed. Therefore, I think it makes sense for pyte to mimic that.

[2017-02-20 22:52] #63 closed

[2017-02-20 23:32] superbobry commented on #62
A straightforward way to fix this would be to add more branching to the already complicated `Stream._parser_fsm`, so I was thinking of tacklingthe issue differently: restrict `pyte` to UTF-8 only inputs. What do you think?

[2017-02-20 23:49] superbobry opened #64 "Integrate minimal web terminal example"
Integrate [`pyte_gui`](https://github.com/demiurg906/pyte_gui/blob/simple-gui/server.py) by @demiurg906 into `examples/`.

[2017-02-25 13:19] chubin opened #65 "Strange regression with some unicode characters (e.g. with the Russian Н)"
pyte 0.6 has a strange regression with some Unicode characters, particularly with the Russian "Н" character:

That works:

[code]

That does not work:

[code]

As you can see, the output is empty in the second example (where the printed text contains "Н").

Everything works find with the 0.5.x version of the module.

Another problematic character: greek letter Ν

Some other broken characters:

[co

[2017-02-25 20:04] anazmy opened #66 "Disappearing chrs"
Was doing a small test for an app I'm working on

[code]

And seems the CR (\x0D) is giving me wrong output  :

[code]

Is that expected behavior or a bug ?

[2017-02-25 20:04] anazmy commented on #66
that's Python 2.7.13  BTW

[2017-02-25 22:12] superbobry commented on #65
This could be related to #62. Will investigate further.

[2017-02-25 22:15] superbobry commented on #66
Thanks for the bug report. Could you add which `pyte` version are you using?

[2017-02-25 22:40] chubin commented on #65
I have found new group of the evil characters.
Unfortunately, this group seems to have nothing common with the former group:

[code]

[2017-02-26 00:39] anazmy commented on #66
Sorry forgot to mention that, I initially used pyte-0.5.2 but even with latest `master` branch here I got same behavior .

Some context:

I'm capturing user input on xterm terminal (stdin) and sending it to pyte to handle the ctrl sequences , seems to me that when the input line is wider than the terminal - like above example- you hit this issue.

[2017-02-26 00:40] anazmy commented on #66
I also tried reverting mode.LNM but got same behavior

[2017-02-26 17:27] #64 closed

[2017-02-26 18:23] superbobry commented on #66
tl;dr this is correct behaviour.

Slightly longer version: `"\r"` is a carriage return symbol, which when encountered by the stream, cases the cursor to go to the beginning of line. Your input has a carriage return in the middle, therefore it is rendered as

[code]

then the screen goes to the new line and renders everything before `"\r"`

[code]

on `"\r"` the cursor moves to the beginning of lin

[2017-02-26 18:44] anazmy commented on #66
Thanks for taking time to explain it helped, what do you think is the best course of action , considering that screen size and input length are variables ?

Should I remove `\r` from the byte stream before feeding pyte.stream ?

[2017-02-26 18:46] anazmy commented on #66
Also shouldn't mode.LNM change behavior of the cursor in this case ?

[2017-02-26 19:02] superbobry commented on #66
Roughly speaking `mode.LNM` (enabled by default) translates `"\n"` into `"\r\n"`, so it does not affect your case.

I think one possible workaround is to escape `"\r"` and related sequences, so they appear as two normal characters "\" and "r" and not a single control one.

[2017-02-26 19:11] anazmy commented on #66
I will try your advice , thanks for the great work

[2017-02-26 19:25] superbobry commented on #66
No problem, happy `pyte` is useful!

[2017-02-26 19:35] superbobry commented on #65
The issue indeed has the same cause as #62. All of the characters you've listed contain some control bytes when UTF-8 encoded, e.g.

[code]

[2017-02-26 19:43] chubin commented on #65
Of course they have, I listed some of them with their codes and they indeed contain 9d and 9b as you can see. On the other hand, in the last block I listed another group of characters, those do not contain neither 9d nor 9b. That seem to be another problem

[2017-02-26 19:47] superbobry commented on #65
The new "unprintable" group seems to be related to the way we do Unicode normalization as all of them (I think) are combining characters.

[2017-02-26 19:55] chubin commented on #65
How do you think, are there any chances that the bug will be fixed in the next weeks? Or should I better downgrade pyte and use 0.5.2? Can I help somehow probably?

[2017-02-26 20:02] superbobry commented on #65
The bug is a consequence of delegating input decoding to Screen (see febdad70ba4b0eec509e1cf10d9ed2d9fb284e85). I am currently thinking about how to best approach this, can't guarantee the fix would arrive shortly.

If you have any ideas, feel free to share them here.

[2017-02-26 20:05] chubin commented on #65
I can try to find other broken character if it can help

[2017-02-26 20:54] superbobry commented on #65
Don't worry, the ones you already came up with are already enough.

[2017-02-26 23:18] superbobry commented on #62
A good reference on the topic: http://www.cl.cam.ac.uk/~mgk25/unicode.html#term picked up from iTerm2 source code.

[2017-02-26 23:40] superbobry commented on #62
Okay, so the plan to approach this is:

1. Retain `bytes` as the input type to `pyte.Stream.feed`, but change `pyte.Screen.draw` back to UTF-8.
2. Move `use_utf8` and `utf8_encoder` back to `pyte.Stream`.
3. Ensure G0/G1 calls are ignored when UTF-8 is active. If UTF-8 is not active, assume ASCII and translate it using the active charset.

[2017-02-27 00:02] petervaro commented on #42
@superbobry IMHO if I were you, I would only switch from `LGPL` to `GPL` (most likely v3). It is the best license if you are concerned about the act of sharing of your code and the ownership on it, as it is a strong *copyleft license that requires anyone who distributes your code or a derivative work to make the source available under the same terms, and also provides an express grant of patent ri

[2017-02-27 00:11] tony commented on #42
This issue can be closed as I worked around the license issue my not using inline editing on the project I had.

For Python?

Not even close in 2017. https://pypi.python.org/pypi?%3Aaction=browse, see License :: OSI Approved.

I don't even care about popularity. I can't have viral clauses in code I use. It's not my choice I can't use the license, the lawyers say no go.

[2017-02-27 00:11] #42 closed

[2017-03-01 18:41] anazmy opened #67 "set_margins() got an unexpected keyword argument 'private'"
testing latest master branch  and python 2.7

Using
[code]
When I exit out of a midnight commander screen `mc` I get an error reported by stream.feed(buf) , where
 buf is the below :

[code]

[2017-03-01 23:30] superbobry commented on #67
Thanks! Could you also share the value of $TERM in the environment of the `mc` process?

[2017-03-02 07:49] anazmy commented on #67
It is TERM=xterm

[2017-03-05 19:07] chubin commented on #65
Any news about the issue may be? The problem is that many Japanese/Chinese are also corrupted. There are some simple workaround for Cyrllic/Greek, but things are getting worse with the oriental languages. So the issue is a real blocker for pyte 0.6 usage in a multilingual environment

[2017-03-05 23:07] superbobry commented on #65
I am still thinking on how to implement this without making the code too much of a nightmare. I have a prototype in a local branch but it is not finished yet. Most likely I won't have much time to work on this further until the next weekend, so if you have any ideas feel free to post them here or submit a PR.

Yes, I understand it is critical, but 0.6.0 has not been released, so I'd suggest to use

[2017-03-11 12:56] #62 closed

[2017-03-11 12:56] #66 closed

[2017-03-11 12:56] #65 closed

[2017-03-11 13:01] superbobry commented on #67
We do support some xterm extensions in `pyte`, but the contract is that `pyte` implements `TERM=linux`. Could you please verify that this quirk also happens with `TERM=linux`?

[2017-03-11 14:11] superbobry opened #69 "Zero-width characters"
The current behaviour regarding zero-width/combining characters is to append them to the char in the preceding cell. If there is no preceding cell -- nothing is printed (as reported by @chubin in #65). This sounds reasonable to me and I'd be happy to just leave that be, but other terminals handle these characters differently, e.g. iTerm simply prints the combining character on its own.

[code]

If

[2017-03-11 14:19] superbobry opened #70 "Fuse three screens into one"
Any real-world terminal implementation needs history and incremental updates, so I think it makes sense to merge ``pyte.DiffScreen` and ``pyte.HistoryScreen`` into ``pyte.Screen``.

[2017-03-11 16:28] anazmy commented on #67
It doesn't happen with `TERM=linux` but I think a side effect of using term=linux is that I cant capture mouse clicks

[2017-03-14 20:53] jquast opened #71 "Reply to the Cursor-Position-Report sequence"
pyte should respond to the "Cursor Position Report" sequence:

- http://vt100.net/docs/vt510-rm/CPR.html

An application prints capability `u6`, which terminal emulator discovers and replies in format of capability `u7`. For xterm, this is `'\x1b[6n'` and `'\x1b[%i%d;%dR'`, respectively. I implemented the "client side" of this in blessed, which contains many details about this sequence.

I intend

[2017-03-15 11:10] superbobry commented on #60
@istarion is currently evaluating the `defaultdict` migration. If the benchmarks are be positive, this would be merged into `master` soon.

[2017-03-20 02:16] superbobry commented on #71
``pyte`` [supports CPR](https://github.com/selectel/pyte/blob/0.5.2/pyte/screens.py#L887) since version 0.5.2. All you have to do is implement `Screen.write_process_input`.

[2017-03-25 16:10] chubin commented on #65
I confirm the problem is fixed now! @superbobry you are genius! Thank you very much!

[2017-03-25 16:41] superbobry commented on #65
Haha, thanks! Glad it works for you :)

[2017-03-26 21:34] superbobry opened #75 "Overwriting full-width characters"
Full-width character support in `pyte` is incomplete. While `pyte` is able to draw and wrap full-width characters, it cannot overwrite them.

Example:

[code]

[2017-03-26 21:35] superbobry commented on #71
Closing for now. Feel free to reopen if you think CPR support is broken or could be improved.

[2017-03-26 21:35] #71 closed

[2017-03-26 21:57] superbobry commented on #25
I've just tested the following in iTerm2, xterm and `pyte` (via `webterm.py`)

[code]

iTerm2 produces `foobar 42`, while xterm and `pyte` both result in `foobar42`. I would rather stick with xterm on that, because iTerm doesn't pass "Cursor movement" vttest.

Please feel free to reopen if you think this behaviour is incorrect.

[2017-03-26 21:57] #25 closed

[2017-03-27 01:29] superbobry opened #77 "Reverse-time debugger"
Debugging terminal emulators in notoriously hard. It boils down to carefully analyzing the escape sequences produced by the app under investigation and ensuring ``Screen`` state is consistent with what is expected.

Right now ``pyte`` has two debugging tools:

* `pyte.DebugStream` which emits JSON messages for each dispatched event; and
* `examples/webterm.py`

I think some kind of a reverse-time

[2017-04-19 21:43] hryamzik opened #78 "Examples broken"
At least the [helloworld](/selectel/pyte/blob/master/examples/helloworld.py) one.

[code]

[2017-04-19 23:05] superbobry commented on #78
I think you're running `master` examples with a stable version of `pyte`. Please refer to the corresponding [tag](https://github.com/selectel/pyte/tree/0.5.2/examples) on GitHub.

[2017-04-20 08:51] hryamzik commented on #78
That works, thanks!

[2017-04-20 08:51] #78 closed

[2017-04-23 02:18] choldrim opened #79 "erase_in_display fails if the argument is 3"
https://github.com/selectel/pyte/blob/master/pyte/screens.py#L700
[code]

There is a potential bug here, which will be triggered while `how` var isn't in the list [0, 1, 2].

[2017-04-23 02:19] choldrim commented on #79
As well https://github.com/selectel/pyte/blob/master/pyte/screens.py#L672

[2017-04-23 10:45] superbobry commented on #79
Could you give an example of the input which triggers the bug along with the expected/observed behaviour?

[2017-04-30 01:09] shaolo1 opened #80 "Konsole clear code missing"
Under KDE bash clear returns [3J which causes 'interval not defined' error in erase_in_display(3).  Any chance of adding this?

see http://stackoverflow.com/questions/5367068/clear-a-terminal-screen-for-real/5367075#5367075

[2017-04-30 11:41] superbobry commented on #80
What is the value of `TERM` env variable? VT220 does not support `[3J`, but `xterm` does (erase all saved lines). Would it be okay for you if this had been a noop in `pyte`?

[2017-04-30 13:40] shaolo1 commented on #80
Where would I see the TERM env variable?
Locally I patched erase_in_display() from "elif how == 2" to "elif how == 2 or how == 3"

[2017-05-01 12:51] superbobry commented on #80
Hmm, you're right there is indeed a `[3J` in linux as well:

[code]

In `pyte` this affects both `Screen` and `HistoryScreen`.

[2017-05-01 12:53] superbobry commented on #79
Hi @choldrim, could you have a look at #80 and tell me if this is the bug you've experienced?

[2017-05-01 13:49] superbobry opened #81 "vi causes excessive output in ``webterm.py``"
Steps to reproduce:

1. Open `webterm.py`
2. Run `vi`
3. Observe excessive `?6c` output caused by repeated `Screen.report_device_attributes` calls.

[2017-05-04 18:54] uSpike opened #82 "0.6.0 release"
Hi,

I was just wondering if there was a time-line for releasing 0.6.0 (or the next version)?
The changes to streams are really beneficial to me for performance, especially on Raspberry Pis.  Feeding 100's of thousands of characters caused a big slow down, and the new changes are very nice!

Thanks, this project is great.

[2017-05-04 20:57] superbobry commented on #82
Hi, thank you for the feedback. Raspberry Pi looks like a very intriguing use-case. Please do report the inefficiencies you encounter.

I plan to release 0.6.0 in the end of May, once we finish the work on #76.

[2017-05-04 21:16] uSpike commented on #82
Thanks for the update!  The pi seems to struggle the most with calls to `wcwidth` which seem to be taking up the majority of CPU time, but i'll continue tracing and let you know more details.

[2017-05-05 09:06] choldrim commented on #79
Hi @superbobry
I'm sorry for replying this so late.
This string `\x1b[3J\x1b[H\x1b[2J\x1b]0;`, which is replied from server while I input `clear` in terminal, trigger this bug, and I get the value `how` which is 4, not in `[0, 1, 2]`.

[2017-05-05 18:02] superbobry commented on #79
Thanks! #80 mentions `how == 3`, which is a fairly recent addition to `TERM=linux`. Which `TERM`  do you have?

[2017-05-05 18:04] superbobry commented on #82
Yep, @istarion spotted that 30% of the CPU time being spent in `wcwidth` as well. We will most likely address that before the release.

[2017-05-07 02:27] choldrim commented on #79
`TERM=xterm`

[2017-05-07 12:37] superbobry commented on #79
`pyte` only aims to support `TERM=linux` for now with some minor extensions pulled from `xterm` (like colour support). Therefore, it is recommended to use `TERM=linux` for running apps inside `pyte`.

Ideally, we should not handle `how > 3` at all, and just render the CSI sequence as-is. It is probably best to do this directly in `Screen` without complicating the already complex parser in `Stream`

[2017-05-08 03:00] choldrim commented on #79
I am using `pyte` with [paramiko](https://github.com/paramiko/paramiko)(something like ssh), and I tried to change the `TERM` with `export TERM=linux`, however it didn't work(it might be a wrong way to do this).
I am not really clear about the difference between `TERM=linux` and `TERM=xterm`. As for me, I just feel nothing different excepting the `clear` command.
Well, in short, I mean, is there a

[2017-05-08 21:23] superbobry commented on #79
I think the value of `TERM` variable should be defined on the machine you're connecting to, i.e. somewhere in the remote `.bashrc`. Could you confirm that you've exported it remotely and not locally?

If the `TERM` trick still doesn't work, I can add a quickhack so that `pyte` ignores inputs it cannot interpret.

[2017-05-09 02:14] choldrim commented on #79
Yes, I am sure it has been exported remotely. But, event if exporting `TERM=linux` on the server, I get the same problem, and the value of `how` is also 3.

![image](https://cloud.githubusercontent.com/assets/6734555/25832791/69b19b00-349f-11e7-985b-08b4d6261977.png)

Or you can try it by yourself with some python ssh lib like `paramiko` before adding a patch for this.

Thanks 👍

[2017-05-26 19:54] #60 closed

[2017-05-28 01:12] superbobry opened #84 "Known rendering quirks"
This is an incomplete list of apps which are known to be rendered incorrectly with `TERM=linux`. Every quirk in the list potentially indicates a bug in one of the `Screen` method. These bugs are notoriously hard to pin down, but if you're feeling brave -- contributions are more than welcome!

* `emacs --no-init-file` and `M-x tetris`
* `man man` does not highlight the occurence during searching
*

[2017-05-28 01:13] superbobry commented on #81
Closing in favour of the meta-issue for rendering quirks #84.

[2017-05-28 01:39] #80 closed

[2017-05-28 01:39] #81 closed

[2017-05-28 01:41] superbobry commented on #79
Hi @choldrim, could you give the `master` version a try? I've added support for `how=3`, so `TERM=linux` should now work.

[2017-05-28 01:57] superbobry commented on #82
I've released 0.6.0 with the new ``Screen`` and cached ``wcwidth``. Although caching is 3.X-only for now.

[2017-05-28 01:57] #82 closed

[2017-05-28 19:10] broosa opened #85 "Unbounded HistoryScreen?"
Hi everyone!

I've been thinking it would be nice to extend HistoryScreen so it can have an unbounded history size. I believe the history parameter in HistoryScreen.__init__() is used to set the maxlen of the deques that manage the history buffers. Could we add a special case so that maxlen is not set, allowing the top and bottom histories to grow without bound?

Also, has anyone thought of implem

[2017-05-28 19:26] broosa commented on #70
I'll take a stab at it... For those interested, my fork is [here](https://github.com/broosa/pyte).

[2017-05-28 21:22] superbobry commented on #70
Sidenote: now that we have `Screen.buffer` as defaultdict we can simplify `HistoryScreen` implementation: store all lines in `Screen.buffer` and keep track of the current offset within the buffer. The displayed portion of the buffer is `offset:offset+lines`.

[2017-05-28 21:45] broosa commented on #70
Oh that would be nice! I'll take a look at it.

I think i've merged `DiffScreen` and `Screen`. I pushed the commit [here](https://github.com/broosa/pyte/commit/5621ad3df081935434073d9a1cf7b46d49a82403). I stubbed out DiffScreen; it should be backwards compatible. All the tests passed fine.

BTW, how do you generate your docs? I want to make sure what I added looks okay.

If everything else looks g

[2017-05-28 23:25] superbobry commented on #70
[code]

Sure, go ahead and submit one. I've looked through the commit, it looks OK. Don't forget to add yourself to `AUTHORS` ;)

[2017-05-29 00:07] broosa commented on #70
I just submitted PR #86.

[2017-06-02 07:31] choldrim commented on #79
Hi @superbobry , the `master` branch works well now.  👍

[2017-06-02 09:17] superbobry commented on #79
Awesome! Closing the issue.

By the way, don't hesitate to add your project to Pyte users section [here](https://github.com/selectel/pyte/blob/master/docs/index.rst#pyte-users).

[2017-06-02 09:17] #79 closed

[2017-06-02 09:43] choldrim commented on #79
Okay, I will push a PR later.  :)

[2017-06-02 09:51] choldrim commented on #79
https://github.com/selectel/pyte/pull/87

[2017-06-04 23:17] superbobry commented on #70
Hi @broosa, would you have time to work on 'HistoryScreen->Screen' in the upcoming weeks? If not, I might tackle that myself.

[2017-06-11 00:09] tspivey opened #88 "Handling of character set switching in UTF-8 mode"
With pyte 0.6.0, the following code just leaves a B on the terminal display:
[code]

Reading the code (and the associated FAQ entry), it says that the escape sequence should be ignored.
The code ignores it by not reading the last character.

However, if I run lynx in my shell (TERM=xterm, LANG=en_US.UTF-8), this sequence is sent quite a bit, leaving B in my terminal.

[2017-06-11 19:30] #88 closed

[2017-06-11 19:31] superbobry commented on #88
Hi Tyler. Thanks for the bug report, it should've been fixed in `master`. Could you give it a try and let me know if it works for you?

[2017-06-12 20:31] tspivey commented on #88
It's working. Thanks for the fix.

[2017-06-14 09:20] aziz opened #89 "Support 256 colors"
Most of CLI tools these days use 256 color escapes, it would be nice to support them in this tool as well.

[2017-06-15 00:43] superbobry commented on #89
Hi Allen, The [latest stable](http://pyte.readthedocs.io/en/latest/changelog.html#version-0-6-0) version of `pyte` already supports 256 colours. Did you have an issue with the implementation?

[2017-06-15 17:11] #89 closed

[2017-06-15 17:28] superbobry opened #90 "Alternate screen buffer"
This is an [XTerm extension](http://invisible-island.net/xterm/ctlseqs/ctlseqs.html#h2-The-Alternate-Screen-Buffer) used by some terminal apps e.g. `mc`.

[2017-06-17 14:18] superbobry commented on #67
If you need to use `TERM=xterm` then subclass ``pyte.Screen`` and override `set_margins` e.g. like this

[code]

[2017-06-17 14:18] #67 closed

[2017-06-18 10:47] Wramberg commented on #84
I have been running into some trouble in version 0.6 and on master. When i suspend nano I cannot resume it again. When I do the screen freezes. It is quite easy to reproduce using webterm.py.

- Open webterm
- Run nano testfile
- Hit ctrl+z
- Run fg
- Screen shows "nano testfile" at the bottom and is completely frozen

I was using some old version of pyte before (https://github.com/Wramberg/Termin

[2017-06-18 10:57] Wramberg commented on #84
Seems to work in 0.4.10
In 0.5.x I get

[code]

and in 0.6.0 it freezes like described

[2017-06-19 20:01] superbobry commented on #84
Hi @Wramberg, thanks for reporting this. Could you kindly try the `master` version and let me know if it works for you?

[2017-06-19 20:33] Wramberg commented on #84
Hey @superbobry, issue is fixed on the latest version of `master` :+1:

[2017-06-26 18:47] Wramberg commented on #70
I would sad to see the regular screen go as I use it directly without history (actually I made my own history screen with some optimizations). If anyone wants a screen with diff, history etc. they can just use the HistoryScreen as it is right now or am I missing something ?

[2017-06-26 19:02] superbobry commented on #70
The key idea behind this refactoring here is that after migration to `defaultdict` we can support history in the regular screen with almost zero effort. Therefore there is little need for a specialized subclass.

[2017-06-26 20:02] Wramberg commented on #70
I see - well in that case I would happily switch to the new all-in-one screen :-)

[2017-06-27 18:47] Wramberg commented on #84
On 0.5.2 and `master` I've been seeing some weird behavior when using ranger. It happens when ranger is scrolling the list of files. For example, if I have a display showing this

[code]

with the cursor standing on the "color_gen.py" file. If I send arrow up to the shell I get the following back (hex)

[code]

and the pyte display is updated to this

[code]

Note how "colors.txt" disappeared and

[2017-06-27 19:05] Wramberg opened #92 "How to use 256 colors ?"
Been using pyte for a while now and it works really great for everyday terminal use. I have run into some trouble when trying to get 256 color support working however.

First of all, I have been using TERM=linux which I expect is correct since the webterm example does it as well. I havent changed anything else so basically I just take raw data from a shell and feed it to a bytestream attached to a

[2017-06-27 21:28] superbobry commented on #84
Sorry, I don't have the time to debug this in the coming weeks. In case you want to have a peek yourself, try going sequence-by-sequence over the output causing the issue with `DebugScreen`.

[2017-07-09 20:55] superbobry opened #93 "Cross-check pyte features agains GateOne"
GateOne is a mature web terminal emulator [supporting](https://github.com/liftoff/GateOne/blob/master/terminal/terminal.py) many more features than `pyte`. This issue is to check what features exactly `pyte` is missing to be on par with GateOne.

[2017-07-13 23:19] randy3k opened #94 "allow custom handler for specific escaped sequence?"
Right now, the handlers for OSC sequences are [hardcoded][1] and it doesn't support other codes other than 01 and 02. Is there any chance to allow user to specific a handler if a certain sequence is observed. One of such use case if to detect the sequence

[code]

which is used in [imgcat][2] to display images. It will [allow][3] applications to show images in their terminals.

[1]: https://github

[2017-07-16 20:41] superbobry commented on #94
Hi Randy, yep, this is something I'd like to do. Ideally, `pyte` should have a dict mapping OSC commands to `Screen` slots, similar to how it is done for other ESC sequences.

[2017-07-29 17:55] Wramberg commented on #92
I realize the colortest-256 may be using wrong color sequences (ignoring envrionment vars or whatever) but I still do not know how to use the colors.

[2017-07-29 18:00] Wramberg commented on #93
Hey @superbobry sorry for the late reply. Continuing our discussion from https://github.com/Wramberg/TerminalView/issues/13 heres a few notes.

I think the top feature I am missing in my plugin right now which gateone has to offer is 256 colors. It seems you may already support that but if you do I cannot figure out how to use it :-( see https://github.com/selectel/pyte/issues/92

Besides this it

[2017-08-22 10:14] acroz opened #95 "Mode reset on screen resize"
I'm trying to understand the screen resizing logic in pyte and could use a little guidance. On screen resize, pyte resets the DECOM mode:

https://github.com/selectel/pyte/blob/26866c70e37b7ba00aaea3cf89fed50cd4f5cd7f/pyte/screens.py#L325

This has the effect of resetting the cursor position:

https://github.com/selectel/pyte/blob/26866c70e37b7ba00aaea3cf89fed50cd4f5cd7f/pyte/screens.py#L386

A co

[2017-08-22 10:43] hellorocky commented on #59
遇到了类似的问题, 谷歌搜到这里了

[code]

[2017-09-03 12:43] superbobry commented on #59
Hi @hellorocky, could you give a bit more context? Have you checked the env. variables mentioned above?

[2017-09-03 13:47] superbobry commented on #95
Hi Andrew,

This is very old code and frankly I don't remember the original motivation. The only mention of that in VT220 manual I've found is

it doesn't say anything about `DECOM` and I too can't justify the need to reset it. After the scrolling region is updated, `DECOM` should work fine.

I've pushed a commit removing the reset. Thank you for drawing my attention to this.

[2017-09-03 13:47] #95 closed

[2017-09-05 10:29] acroz commented on #95
Thanks for looking in to this.

[2017-09-13 18:58] jonathanslenders opened #97 "New release?"
Hi there, just wondering whether there will be a new release soon?
I noticed that the latest Pyte release doesn't render htop correctly in my setup, but the latest commit from here works just fine.

(I'm working on a new prompt_toolkit terminal emulator, which builds on top of the prompt_toolkit 2.0 branch. It will be used in a future pymux version.)

Thanks!

[2017-09-13 20:21] superbobry commented on #97
Hi Jonathan, prompt_toolkit terminal emulator sounds like a great idea! I will try to release over the weekend.

[2017-10-07 21:07] #97 closed

[2017-10-07 21:08] superbobry commented on #97
Just pushed 0.7.0 to PyPI.

[2017-11-14 11:52] acroz opened #99 "`Screen.report_device_attributes` with xterm"
I've been working on adapting the webterm example to work with our terminado replacement, and am encountering an issue when using it with xterm. Below is a Python example which adapts the webterm example to just run `vim` and display the output:

[code]

This generates the following output:

[code]

As you can see, some control characters get written into vim, causing it to enter replace mode and

[2017-11-14 14:27] acroz commented on #99
After further investigation, I found that the culprit seems to be that the Control Sequence Introducer sent back is `'\x9b'` instead of `'\x1b['` (ESC + [). [This Wikipedia paragraph](https://en.wikipedia.org/wiki/C0_and_C1_control_codes#Encoding_interoperability) suggests that for interoperability with Unicode, using the 7-bit compatible C0 sequence `'\x1b['` will be more robust than the single c

[2017-11-14 14:38] acroz commented on #99
The above PR patches pyte to avoid this issue.

[2017-11-21 22:57] #99 closed

[2017-12-07 19:00] acroz commented on #92
@Wramberg - have you tried it with `TERM="xterm"`? I think 256 colours might be an xterm extension.

[2018-02-03 20:57] htgoebel opened #112 ""captured" files for tests missing in archive at PyPI"
The archive at PyPi is missing the `captured` files, thus tests will fail:
[code]
Solution is simple: Add the directory to MANIFEST.in and upload a new archive to PyPI - maybe you need to increas the version, e.g. to `0.7.0p1`.

[2018-02-21 09:04] markfink opened #114 "capture.py sample not using pyte"
I am looking at your samples to get a better grasp on pyte. So far I am quite fond of it so thank you for sharing.

your capture.py sample contains the following line but does not do anything with it:

[code]

...so I commented it out and it is still "working".

I figured that if I wanted to use pyte during capture I would use something like the following:

[code]

this gives me the following erro

[2018-03-06 23:09] micalamb opened #115 "stream.feed('\x1b[48m') causing python error"
I'm getting a python error if I do:

import pyte
screen = pyte.Screen(80, 24)
stream = pyte.Stream(screen)
stream.feed('\x1b[48m')

Maybe that is invalid? I'm getting it sent from a telnet server.

By the way thank you so much for this project its been a real lifesaver.

[2018-03-07 19:48] superbobry commented on #115
Hi @micalamb, could you add a stack trace, please?

[2018-03-08 15:11] micalamb commented on #115
Sure.  This is what I'm seeing:

  File "<ipython-input-2-6e145b513665>", line 4, in <module>
    stream.feed('\x1b[48m')
  File "C:\Users\micalamb\AppData\Local\Continuum\anaconda3\lib\site-packages\pyte\streams.py", line 196, in feed
    taking_plain_text = send(data[offset:offset + 1])
  File "C:\Users\micalamb\AppData\Local\Continuum\anaconda3\lib\site-packages\pyte\streams.py", line 325, in _

[2018-03-15 21:56] tspivey commented on #61
This issue occurs again in 0.7.0.

[2018-04-06 20:27] superbobry commented on #61
Hey @tspivey, sorry for the late reply. Can you kindly double check that the issue is present in 0.7.0?

[2018-04-06 20:36] #115 closed

[2018-04-06 20:38] superbobry commented on #114
The purpose of `capture.py` is to capture the "raw" output of a terminal app. I think the line you've spotted is some leftover debugging code, I've removed it in the `master` version. Thanks for reporting!

The captured sessions are used in the [`test_input_output`](https://github.com/selectel/pyte/blob/master/tests/test_input_output.py#L17).

[2018-04-06 20:38] #114 closed

[2018-04-06 20:40] superbobry commented on #112
Thanks, will do just that.

[2018-04-06 20:40] #112 closed

[2018-04-08 07:58] tspivey commented on #61
It's still present in 0.7.0.
Test script:
[code]

Output:
[code]

[2018-04-08 18:08] superbobry commented on #61
Should be fixed in `master`. Sorry about that.

[2018-04-12 14:09] pietrushnic opened #116 "Move cursor postion seems to be not interpreted"
Hi all,
I'm using `pyte` in Robot Framework to validate firmware of embedded system. I have a problem with escape sequence which modifies the string that I want to match. For example, I look for `N for PXE` and in buffer I get:

[code]
or

[code]
This seems to be a problem with the not interpreted change of cursor location. Does anyone faced similar issue? Have you got ideas how to approach debugg

[2018-06-09 19:43] jonathanslenders opened #117 "echo -e '\e[12$p'"
The above escape sequence doesn't seem to work correctly. I'm not sure what it means, but this will display a "p", while it should not display anything.

Tested with Pyte 0.8.0.
This escape sequence is generated by Vim 8.1.26 when loading.

FYI: I'm working again on pymux, converting it to prompt_toolkit 2.0. Thanks again for Pyte!

[2018-06-11 08:36] eight04 opened #118 "How do you specify a different encoding?"
I want to feed some Big5-UAO encoded data. Since there is no `encoding` parameter (or something like that), I tried using `ByteStream`:
[code]
However, after checking the source code, it seems that this setup equals to:
[code]
This method doesn't work because the bytes of Big5-UAO encoded string may contain control characters like `\x9d`, and `match_text` failed to match the entire string:
https:/

[2018-06-11 15:03] eight04 commented on #118
#### I found another problem that the bytes sequence may contain unprintable characters

`wcwidth` think these characters are unprintable:
https://github.com/jquast/wcwidth/blob/c71459ea91af86f3bbcdac2c8ed5e7773da2d848/wcwidth/wcwidth.py#L175-L176

When pyte receives an unprintable character, it doesn't draw it on the buffer:
https://github.com/selectel/pyte/blob/676610b43954b644c05823371df6daf87c

[2018-06-12 16:13] eight04 opened #119 "Blinking text support"
[code]
Blinking text is widely used on BBS. Quote from wiki:

https://en.wikipedia.org/wiki/ANSI_escape_code

[2018-07-15 10:54] #119 closed

[2018-07-15 11:05] superbobry commented on #116
@pietrushnic what makes you say that the cursor position escape sequence is not interpreted? I've ran both inputs through the debug screen, and it seems the stream correctly parses them:

[code]

[2018-07-15 11:09] superbobry commented on #117
Thanks for the report @jonathanslenders! This seems to be an XTerm sequence

[code]

[2018-07-15 11:22] #117 closed

[2018-07-15 17:11] superbobry commented on #85
Hi @broosa, the idea sounds good to me. In fact, this is something I've been wanting to do for quite a while (and effectively make `HistoryScreen` the default implementation). I know this is about a year late, but I'd be happy to welcome a PR if you have the time to look into this.

[2018-07-15 21:18] pietrushnic commented on #116
@superbobry please note that `Press F10 key now for boot menu, N for PXX` is wrong it should be `Press F10 key now for boot menu, N for PXE`. Maybe this is problem of console driver, which puts incorrect characters.

Let me recover this topic and get back to you what is the current state of this problem.

[2018-07-16 18:52] superbobry commented on #116
Thanks for a prompt reply. Yes, I've guessed the desired output. Here `pyte` would behave as expected if the cursor is on line 3 prior to processing the input:

[code]

[2018-08-09 02:36] ilar opened #122 "Example webterm.py fails, send_str never awaited."
If you try to run webterm.py, it will fail, giving the errors:

`webterm.py:86: RuntimeWarning: coroutine 'WebSocketResponse.send_str' was never awaited
  ws.send_str(terminal.dumps())
webterm.py:90: RuntimeWarning: coroutine 'WebSocketResponse.send_str' was never awaited
  ws.send_str(terminal.dumps())
`

This is with python3.5 and 3.6, and aiohttp 3.3.2.

[2018-09-17 12:43] pietrushnic commented on #116
@superbobry what I can say is that Robot Framework had wrong parameters order when initializing HistoryScreen, we have patch [here](https://github.com/3mdeb/robotframework/commit/8cbf3fdb7676554445f111d8434f9a6dce481ee2), with that patch and pyte `v0.8.0` seems like usse is solved.

[2018-09-17 12:43] #116 closed

[2018-12-15 14:54] mbardolia opened #123 "Error while trying to ssh into a remote server on Pythonista 3 using Stash"
I just recently installed Pythonista 3 on my iPad and installed Stash. When trying to ssh into a remote server, I receive the following error:
[code]

In reading some other threads I’ve gone through and installed paramiko and wcwidth in an effor to help resolve the issue. Any suggestions/guidance would be appreciated.

[2019-01-15 21:12] superbobry commented on #123
Apologies for the delay. My guess would be that `stash` uses `/` division for line/column indices. On Python 3 `/` always produces a float. The fix is simple: replace it with flooring division `//`.

[2019-02-09 18:23] kyrgyz-nlp commented on #122
Starting from version 3.0 aiohttp converted `send_str` into a coroutine. Install `aiohttp==2.3.10` and you'll be good to go.
I tried to fix this by applying await before ws.send_str and converting `on_master_output` into an async function. But in `loop.add_reader(p_out, on_master_output)` `add_reader` doesn't allow the callback to be async.
I would be happy to hear suggestions on how to update the

[2019-02-26 13:02] ruapotato opened #126 "w3m crashes in pyte"
When you use any key in w3m running through pyte I see the following crash:
[code]
Posible fix:
https://github.com/ruapotato/pyte/commit/2f91353a6e2b283a36a0e6dc037ec3a99e57ab2f

I also see a crash looking at config files on extream switches.
Possible workaground:
https://github.com/ruapotato/pyte/commit/b24f60dee53b6356b3c79cd95b2a1a4965b8c55b

[2019-04-29 07:04] ibuler opened #128 "Is there golang version ?"
Hi, I use pyte in my project, but now when want change our language to golang, so I want known is there golang version pyte ?

[2019-04-29 08:42] superbobry commented on #128
`pyte` is a Python-only library. There might be a similar library in Go but I am not actively following that ecosystem.

[2019-04-29 08:42] #128 closed

[2019-04-29 08:42] superbobry commented on #126
This is likely because your `TERM` is `xterm*` instead of `vt220` or `linux`. Which `TERM` variable are you using?

[2019-10-10 08:21] JJJJJJJJames opened #129 "screem.display not correct when feed data has many '\x1b[C' chars"
First type some short command, then type a long command, then use up and down or page up and page down key, server will send back stream characters with many '\x1b[C' chars, feed those data and call screen.display, the result is not correct.

[2019-10-10 12:04] superbobry commented on #129
Could you provide a reproducer please? Are you driving the `Screen` manually or from a pty?

[2019-10-11 02:45] JJJJJJJJames commented on #129
From pty.

I have below output, use debug screen,last command is `["draw", ["eeeeee"], {}]`, but when I print the screen.display, the result is `cccccccccccccccccccccccccccccccceeeeee`

output:
`'eeeeee\x08\x08\x08\x08\x08\x08qqqqqqqq\x08\x08\x08\x08\x08\x08\x08\x08\x1b[2Peeeeee\x08\x08\x08\x08\x08\x08ccccccc\x08\x08\x08\x08\x08\x08\x08aaaaaaa\x08\x08\x08\x08\x08\x08\x08ccccccccccccccccccccccccccc

[2020-04-03 13:31] chubin opened #131 "Emojis/Grapheme clusters seem to be broken in pyte"
Consider this Python 3 code:

[code]

`emoji_string` contains one grapheme cluster,
that is displayed like in terminal/editor/etc:

![Screenshot_2020-04-03_14-39-04](https://user-images.githubusercontent.com/3875145/78361626-fe5a8980-75b8-11ea-8cd0-a933e8185b75.png)

This emoji is displayed as a single one, but it conists of two `` and ``.
Pyte seems to drop the second (the rest except the first p

[2020-04-04 11:58] superbobry commented on #131
This is very likely a bug. Feel free to submit a PR ;)

[2020-04-12 12:17] chubin commented on #131
I have written a small workaround for this problem, it works fine for me, but I don't think that it is a good solution for this bug.

That is how I do it:

[code]

I extract the graphemes before rendering, like this:
[code]
and then after rendering I put them back.

It works like it should, but I am not sure that this method is (1) general enough (2) good for pyte, because it introduces a new depe

[2020-07-10 15:32] ahmedkhalf opened #132 "TypeError: cannot use a string pattern on a bytes-like object, when running Tutorial"
Hi,
I just installed pyte on python 3.7.5, windows 10, hoping to make my own terminal GUI using pygame but I ran across this error when running the tutorial.

[code]

Thank you,
Ahmed Khalf.

[2020-07-11 06:14] ahmedkhalf commented on #132
Okay so I tried it with python 3.6.10, and python 3.5.6, and It still produces the same error... I don't really feel like using python 2 because it's already end of life.

[2020-07-11 06:19] ahmedkhalf commented on #132
Okay so I just took a look at the source code hoping I could fix it and found this:

Stream only accepts text as input, but if for some reason
       you need to feed it with bytes, consider using
       :class:`~pyte.streams.ByteStream` instead.

Well, it would be great if you guys could update the docs. I'm leaving this open until a maintainer closes it.

[2020-07-17 17:00] Alexey-T opened #133 "Write some command to bash and get its result"
Example nanoterm shows how to get output of e.g. bash.
now I need to put some string to bash- as a command- e.g. "ls". and get bash output for "ls".
how?

[2020-07-17 20:17] Alexey-T opened #134 "Docs are blurry here"
set_margins(top=None, bottom=None)[source]
Select top and bottom margins for the scrolling region.

Parameters:
top (int) – the smallest line number that is scrolled.
bottom (int) – the biggest line number that is scrolled.

=====
Very blurry text. I don't get by text, what is the margin? Maybe the number1 is the minimal scroll position (for scroll cmds) and number2 is maximal?

Need new text, pls

[2020-07-22 09:13] superbobry commented on #134
Hey Alexey, this method implements the DECSTBM CSI sequence, see e.g. [here](https://unix.stackexchange.com/questions/169509/how-to-use-esc-sequences-to-make-terminal-region-scrollable) and [here](https://terminalguide.namepad.de/seq/csi_sr/). I'd welcome a PR with better wording ;)

[2020-07-22 09:13] #134 closed

[2020-07-22 09:15] #132 closed

[2020-07-22 09:20] superbobry commented on #133
Hey Alexey, [`webterm.py`](https://github.com/selectel/pyte/blob/master/examples/webterm.py) does that. It could be a bit hard to comprehend so if you are still unsure after giving it a go, please followup on StackOverflow. The issue tracker is not the best place to ask these kind of questions.

[2020-07-22 09:27] #133 closed

[2020-07-30 11:48] Alexey-T opened #135 "Need example like webterm but working only locally"
For CudaText plugin I want to use Pyte to run Bash process and catch its output into CudaText panel-editor.
CudaText plugin has input field which text I must put to Bash.

I cannot make example to test. (No XP with asyncio and Pyte).
webterm example is using HTTP and asyncio http, but I need an example which works in pure Linux terminal.
so I can run in terminal - "python3 nnnnn.py" and

- it runs

[2020-08-18 09:49] superbobry commented on #135
I'm sorry, I'm not able to provide examples on demand. Feel free to ask a more specific question on StackOverflow.

[2020-08-18 09:49] #135 closed

[2020-09-14 19:36] michael-conrad opened #136 "Broken links: Readme: Similar projects"
Broken links: Readme: Similar projects

[2020-09-28 13:09] Yajo opened #137 "How to use for testing TUIs?"
Hi there.

I'd love to see an example on how to use this to test a TUI.

Particularly, my project uses https://github.com/tmbo/questionary to ask questions to the user and print a TUI to choose the answers.

I'd love to be able to emulate user interaction, know the messages he's seeing in the screen, emulate some keypress events, read next question, say next answer, etc.

I've been trying to get m

[2020-10-13 13:26] ralsina commented on #93
One feature GateOne has which would be nice in Pyte is mouse modes so when the app requests mouse support then we can start sending the control sequences from the frontend.

Just sending them inconditionally "works" but if you click on an app that doesn't support mouse (like bash) you get all the control sequences.

The relevant code in GateOne starts from here: https://github.com/liftoff/GateOne/

[2021-01-15 20:47] kfreezen opened #141 "Missing the '=' and '>' control codes"
I ran across this bug while using pyte to strip control codes from output for an expectation script. The two codes are
* DECKPAM - Set alternate keypad mode
* DECKPNM - Set alternate numeric keypad mode

I suspect my terminal inserts the DECKPAM code because I use a non-QWERTY keyboard layout.

[2021-02-19 14:12] MrMino opened #143 "0.8.0 bdist removed from pypi?"
Looks like there's no wheel for pyte 0.8.0 on global PyPI.

There is one for 0.7.0, but not for 0.8.0, and my archival CI runs show that just a few months ago there was no bdist building being done for pyte, which leads me to believe that whl for 0.8.0 has been removed. If so, do you have any idea who did it and why?

Not a big deal for me, I'm asking out of caution.

See https://pypi.org/simple/p

[2021-02-20 05:26] 18853477039 opened #144 "Can't get contain '\r' input from Screen.buffer"
this is my debug code

`
buf = os.read(self.input.fileno(), 4096)

LOG.info(repr(buf))
`
#
when I send **whoami** by xshell's command bar
the buf's log is
        [process_stdin():76]	[PID:33553 TID:140554967484224]	'whoami\r'

Screen.buffer's log is
        _'[root@fortress-test-169fb0752 ~]#'_ .

#
If I just use the shell, input whoami
the buf's log is
	_[process_stdin():76]	[PID:66022 TID:13963

[2021-02-22 03:26] ikejji opened #145 "python setup.py install"
Download

[2021-03-02 07:20] 18853477039 commented on #144
I fix it by reading data from stdin, but it's a bad way because the logic is too bad. Is there a good way?

[2021-03-03 19:49] superbobry commented on #144
`\r` instructs the terminal to do a [carriage return](https://pyte.readthedocs.io/en/latest/api.html#pyte.control.CR). The only way to get it printed in the input is to escape the `\` before printing it. I.e. before feeding data to the stream you could do `data.replace("\r", "\\r").`

[2021-03-03 19:50] superbobry commented on #145
Hey @ikejji, this doesn't look like an issues, so I will close it for now.

[2021-03-03 19:50] #145 closed

[2021-03-26 10:45] MrMino commented on #143
This hit me again today after switching between hosted PyPI repositories. Can you please rebuild `pyte-0.8.0-*-*-*.whl`?

[2021-05-11 20:20] nedbat commented on #85
This would be a great addition.  I wanted to use pyte to replay a file full of escape sequences (installation logs with progress bars, for example).  I don't know how many lines I'll need to capture the entire output.  Unless there's some other way to do it?

[2021-07-07 08:52] abingham opened #147 "Idea: Produce intermediate representation from parsing"
The core of this proposal is to introduce an intermediate form of parsed data between the stream and the screen. Rather than the screen feeding its parsed results directly to the screen, it would generate a stream of objects representing the parsed data, and these could be forwarded to the `Screen` API and potentially other clients. This IR could also be stored, analyzed, replayed, etc.

This idea

[2021-09-07 04:06] kovkev opened #149 "Difficult to send ENTER"
Hello, thanks tons for this great library!

I was wondering, what am I doing incorrectly in nanoterm.py , when I try to get the bash command to run `ls`? As in, I want nanoterm.py to start a bash subprocess and send to it the key presses "l", "s", and ENTER.

It seems like when I snapshot the screen, I do see that "l" and "s" have been typed. But, I expect some output from the ls command

I try it

[2021-09-07 04:11] #149 closed

[2021-09-08 03:41] kovkev opened #150 "How is the color encoded in screen?"
When I `print(str.encode(screen.display[0]))`, it seems like color is not encoded.

[2021-09-08 03:50] kovkev commented on #150
Color is encoded in Char_s inside of Screen and are not returned by Screen.display

[2022-01-12 05:54] huangyunict commented on #147
+1 to this idea. In current pyte implementation, the stream and screen are tightly coupled. It is difficult to inject a customized processor between stream and screen.

[2022-03-16 12:29] Neutree opened #151 "Charator "➜" makes cursor moves only one step, but in most fonts it is 2"
when use [oh-my-zsh](https://ohmyz.sh/) , in most mono fonts, the width of `➜` charactor is 2, but pyte only move cursor 1, for `wcwidth('➜') => 1`, is there any way to resolve this problem if I don't want to change the font(cause I didnt find the font which this charactor's width is 1)

![image](https://user-images.githubusercontent.com/8625829/158589181-7bcb0538-d95b-4983-92b1-6a99ac252598.png)

[2022-03-16 12:52] Neutree commented on #151
haha, to get the cursor width pixel, I used a stupid but works code
[code]

[2022-04-08 11:03] milahu opened #152 "move ansi escape parser to outta.parser module"
i suggest we move the ansi parser to https://github.com/abingham/outta

see [def _parser_fsm](https://github.com/selectel/pyte/blob/fa5255a2d81e4ad16b0eeaf97636194c47e98ce1/pyte/streams.py#L210) and [def feed](https://github.com/selectel/pyte/blob/fa5255a2d81e4ad16b0eeaf97636194c47e98ce1/pyte/streams.py#L171)  in `pyte/streams.py`
these are similar to [def _parser_fsm](https://github.com/abingham/

[2022-04-08 13:24] #152 closed

[2022-04-08 15:25] abingham commented on #152
See also #147 where I make roughly the same proposal.

[2022-04-08 18:35] arcanis opened #153 "Publish a release"
I noticed Pyte was producing the wrong output for AIXTERM colors, by incorrectly setting the bold flag. As I was about to open a PR, I noticed it had already been fixed in master: https://github.com/selectel/pyte/commit/4672869d175cea2f80d124f6153fdcc62b53692b

Any chance a release could be published?

[2022-04-10 17:26] milahu commented on #147
even simpler: use a custom `screen` object

[code]

output

[code]

[2022-04-10 17:55] superbobry commented on #153
Done in 7c8e2b9625eefd7bf28aef254b05a6b7c1bb2003.

[2022-04-10 17:55] #153 closed

[2022-04-10 18:04] superbobry commented on #147
As @milahu points out, this should be doable without any changes to `pyte`.

The coupling between `Stream` and `Screen` is tight in a sense that the names of event handlers are fixed, but `Stream` does not assume anything about the implementation of `Screen`. So, you could have a custom `Screen` class which emits IR instructions instead of doing buffer manipulations. [`pyte.DebugScreen`](https://g

[2022-04-10 18:35] abingham commented on #147
This was exactly the approach I took at first. It turned out that didn’t give me everything I needed, though. In particular, the information about precisely which bytes were parsed for each call to a `Screen` method was lost. I suspect that pyte itself wouldn’t benefit greatly from providing this kind of information, though, so there may not be a compelling argument for making it here.

[2022-04-10 19:45] milahu commented on #147
doable with some overhead

https://github.com/milahu/pyte/tree/parser-add-source-location

[code]

yepp, for pyte this is just wasted time
but it would be nice to use the pyte source to compile such a parser

[2022-05-18 13:00] abingham opened #155 "Assigning to Screen.buffer to restore its state"
I have a situation where I need to store the state of the terminal at some point and restore it later. For pyte's `Screen`, is it sufficient that I a) deep copy `Screen.buffer` at the point I want to save and b) assign to `Screen.buffer` when I want to restore it? Is this officially support behavior? Is there anything else I need to do? Thanks!

[2022-05-20 12:23] eldipa commented on #143
@MrMino This is probably a too late response but it is for future references. As far as I know, PyPI does not allow the publishers of a package to remove a package from PyPI to prevent breaking downstream users. At best, the publishers can `yank` a given version to prevent further usage.

[2022-05-20 12:53] eldipa opened #156 "Required minimum Python version is missing from `setup.py`"
The call to `setup` on `setup.py` should have a keyword argument that defines the minimum Python version required for `pyte`.

Something like:

[code]

Despite `setup.py` defines correctly the `classifiers` and says it is for Python 3.7 and upwards, if no `python_requires` is set, no requirement exists.

I was able to install `pyte` version `0.8.1` on a Python 3.6 environment which it is not okay.

[2022-05-20 20:11] MrMino commented on #143
@eldipa are you sure? https://stackoverflow.com/questions/20403387/how-to-remove-a-package-from-pypi

[2022-05-20 22:11] eldipa commented on #143
@MrMino you are absolutely, I really thought that you can only `yank` a version on PyPI but the option for `delete` it is there. My apologies.

[2022-06-04 20:51] arunpersaud opened #157 "tar-ball missing from pypi"
Hello

it would be great to also publish the source (tar.gz) on pypi. Many linux distributions, for example, prefer building from source (just trying to package the latest version of pyte for openSUSE).

Thanks

Arun

[2022-06-07 18:55] eldipa commented on #143
@superbobry sorry to bother you, could be possible to resubmit to PyPI the `0.8.0` version? I know that it is already `0.8.1` out there but I have some users with a dependency pinned to `0.8.0` and they let me know that randomly they cannot install `0.8.0` from PyPI.

No sure where is the problem, not even if a resubmission to PyPI could fix it.

[2022-06-07 19:23] superbobry commented on #157
Done: https://pypi.org/project/pyte/#files.

[2022-06-07 19:23] #157 closed

[2022-06-07 19:24] superbobry commented on #143
Thanks for the heads up. I think I might've forgotten to upload the wheel back then. The wheel is on PyPI now: https://pypi.org/project/pyte/0.8.0/#files.

[2022-06-07 19:24] #143 closed

[2022-06-29 20:25] veksha opened #159 "please fix the typo: bfightmagenta -> brightmagenta"
https://github.com/selectel/pyte/blob/efd19f2836806c3fa9f3928aff0d93fe8a7bd14a/pyte/graphics.py#L100

[2022-07-16 19:03] eldipa commented on #155
Most of the state of `Screen` is on its `buffer` but not all. You need to backup the `cursor` too.

If the PR #160 is accepted, then copying `Screen.buffer` will not work. But if the PR is accepted and you still need the feature, we can think on a proper implementation for *"backup and restore"* the screen state.

[2022-07-16 19:07] eldipa commented on #150
Nope, `Screen.display` returns a plain styleless text. To get the details of each characters, including their colors you have to query each character:

[code]

[2022-07-27 07:07] abingham commented on #155
That’d be great. Any supported mechanism for doing this should meet my needs.

A tool I’m developing does a form of terminal recording (similar in some ways to what’s mentioned in #160), and it includes support for adding ‘annotations’ and ‘highlights’ to what’s shown in the terminal. Before adding annotations (which can really be arbitrary modifications to the terminal contents) we store the term

[2022-07-27 12:22] altoidbox commented on #155
The control codes used for full screen applications such as tmux or vim make use of a 'normal' and 'alternate' screen buffer. Switching between these buffers feels like a similar operation to making a backup of the screen state and later restoring it.

Perhaps handling of those codes isn't something currently supported by pyte, but there may be those that have subclassed some of the pyte classes t

[2022-07-27 23:23] eldipa commented on #155
@abingham So the idea would be: you have a screen with data written by the terminal app, at some moment you stop feeding the streamer but update yourself the screen with some annotations. Because you want to remove the annotations before restarting the feeding, you store the screen's buffer before the annotations and restore it after.

In this sense the annotations or any "temporal" modification t

[2022-07-27 23:46] altoidbox commented on #155
@eldipa As far as applications that run in a terminal environment, the primary ones that come to mind are `tmux`, `vim`, and `screen`. Really any full screen terminal application that restores the original terminal state when they exit probably use the alternate screen buffer.

[2022-07-28 01:39] eldipa commented on #155
Yes, I was thinking in `screen` too. For `vim` I think it does the same when it shows the output of a shell command. I guess for a PoC `vim` will be simpler to use.

I will give it a try to the restore buffer/alternate buffer things probably the next month. By the way, if you have some extra time to review and/or test the #160 it would be nice.
It introduces some non-backward compatibility changes

[2022-07-28 07:51] abingham commented on #155
@eldipa Yes, the stack analogy is exactly correct; in fact ‘push’ and ‘pop’ are the verbs we use in our code for these operations. We need to be able to put any number of states on the stack and return to them.

[2022-09-27 14:43] positron96 commented on #122
I've fixed that by changing `ws.send_str...` in `on_master_output` to `asyncio.ensure_future(ws.send_str(terminal.dumps()))`